include LICENSE
include README.md
include requirements.txt

include test-requirements.txt
recursive-include authnzerver/tests *.py

include versioneer.py
include authnzerver/_version.py

include authnzerver/default-permissions-model.json
include authnzerver/top-10k-passwords.txt

global-exclude *.pkl
global-exclude *.pyc
global-exclude .DS_Store
global-exclude *.map
