{% extends 'base.html' %}

{% block pagecontent %}

<!-- flash messages for errors and warnings from the backend go here -->
{% raw flash_messages %}

<form action="/auth/delete-user" method="post">
  {% module xsrf_form_html() %}

  <fieldset>
    <legend>Delete your user account</legend>

    <label for="email" >Email address to confirm deletion</label>
    <input type="email" name="email" id="email" required
           minlength="4" maxlength="280"
           placeholder="Type in your email address to confirm deletion">

    <label for="password" >Password to confirm deletion</label>
    <input type="password" minlength="12" maxlength="1024"
           name="password" id="password" required
           placeholder="Type in your password to confirm deletion">

    <p>By deleting your account, you will lose access to
      all of your data.</p>

    <p>There is no undo button.</p>

    <button type="submit">I understand. Delete my account.</button>

  </fieldset>

</form>

{% end %}
