{% extends 'base.html' %}

{% block pagecss %}
{% end %}


{% block pagecontent %}
<div class="container" >

  <div class="row" >
    <div class="col-12" >

      <h1>Welcome to the authnzerver frontend!</h1>

      {% if current_user['user_role'] in ('authenticated','superuser','staff') %}

      <p>Hi <strong>{{ current_user['full_name'] }}</strong>! You're signed in
      and your user role is: <strong>{{ current_user['user_role'] }}</strong>.</p>

      {% else %}

      <p>You're not signed in. Please
        <a href="{{ conf.baseurl }}/login">sign in</a> or
        if you don't have an account, go ahead and
        <a href="{{ conf.baseurl }}/users/new"> make one</a>.</p>

      {% end %}

    </div>
  </div>

</div>
{% end %}
<!-- end of page content -->

{% block pagejs_modules %}
{% end %}


{% block pagejs %}
<script>
  $(document).ready(function() {

  });
</script>
{% end %}
